@charset "UTF-8";


/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ‚Äö√Ñ√∂‚àö‚à´‚Äö√†√ª Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: top; }

body { 
    font-family: Helvetica, Arial, sans-serif; 

    margin: 0;
    padding: 0;
    background: #cccccc;
}
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

a:hover, a:active { outline: none; }
ul, ol { margin: 0; padding: 0; }
ol { list-style-type: decimal; }
ul, li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #000000; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #cccccc; }
a:hover { color: #ffffff; }

/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/



body {}
p { margin-bottom: 1em; }
a { text-decoration: none; }


#header {
	margin:0 auto;
	text-align: center;
	width:1024px;
	height:170px;
	background: url('../images/bground_top.png') no-repeat;
	position:relative;

}
#content {
	width:1024px;
	margin: 0 auto;
	padding-top: 0px;
	text-align: center;
	height:400px;
	position:relative;

}

#container {
	width: 1024px;
    height:768px;
	position:absolute;
    left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: 0px;
	border: 0px;
}

#canvas {

}
/* INTERFACE STYLES */

#interface{
    width:1024px;
	margin: 0 auto;
	min-height:586px;
    position:absolute; 
    top:400px;
    left:0px;
    background: url('../images/interface_bground.png') no-repeat;
    
}
#header_container{
    margin-left:50px;
    margin-top:50px;
    width:1024px;
}
ul#header_list li{
    list-style-type:none;
    float:left;
    text-align:left;
    margin-right:25px;
}


#config_container{
    margin-left:50px;
    margin-top:140px;
    width:1024px;
    
}

#config_list{

    
}

ul#config_list li{
   list-style-type:none;
   float:left;
   text-align:left;
    margin-right:30px;
}


#footer {
	clear: both;
}

/* INPUT STYLES */

.label-style{
    font-family: Helvetica, Arial, sans-serif;
    font-size:18px;
    color:#FFFFFF;
    
    
}
#readout-style{
    font-family: Helvetica, Arial, sans-serif;
    font-size:18px;
    color:#FFFFFF;
    display:block;
    
}
#loading-style{

    display:none;
    
}

.simpleButton{
    -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px;
    border: 5px solid #cccccc;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 24px;

}
.colorwell {
    -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px;
    border: 5px solid #000000;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}
body .colorwell-selected {
    border: 5px solid #FFFFFF;
    font-weight: bold;
}

input[type="range"]{
    -webkit-appearance:none;
    -webkit-border-radius:5px;
    -moz-apperance:none;
    width:100px;
    height:20px;
}
.speedslider input::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:100px;
    height:100x;
        -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
    color:#ffff00;
}

input [type="checkbox"]{


}
.show-pic-style{
    -webkit-transform: scale(2,2);
    /* -webkit-appearance:none; */

    
}
input [type='text']{
    height:20px;
    width:100px;
    
}
input[type='search'] {

	text-align: left;
	cursor: pointer;
	display: block;
	width: 150px;
  }


/* COLOR PICKER ITEM STYLES */

#form-item{
   margin-left:210px;
}




/* help window styles */
#help_panel{
    width:872px;
	margin: 0 auto;
	min-height:586px;
    position:absolute;
    top:91px;
    left:72px;
    background: url('../images/help_bground.png') no-repeat;
    
}
#help_label{
	margin-top:20px;
	margin-left:45px;
	float:left;
	
}
#help_closeButton{
	margin-top:20px;
	float:right;
	margin-right:45px;
	
}

